# HTTP requests
requests==2.31.0

# Data manipulation
pandas==2.1.4
numpy==1.26.2

# Data visualization
matplotlib==3.8.2
seaborn==0.13.0

# API interaction
python-dotenv==1.0.0

# Data parsing
beautifulsoup4==4.12.2
lxml==5.2.2

# Jupyter notebooks (optional, for interactive development)
jupyter==1.0.0

# patent_client
patent_client==5.0.17

